<div class="container">
  <div class="col">
    <h1>Your bags</h1>
  </div>
</div>


<div class="container">
    <div class="row">
      <% @bags.each do |bag| %>
        <div class="col col-lg-4">

          <div class="card-bag">
            <%= image_tag bag.images[0], height: 500, width: 700, alt:"bag-photo" %>
            <div class="card-bag-infos">
              <div>
                <%= link_to bag.title, bag_path(bag[:id]) %>
                  <% if bag.availability %>
                  <i class="fas fa-circle" style="color:green"></i>
                  <% else %>
                  <i class="fas fa-circle" style="color:red"></i>
                  <% end %>
                <br>
                <%= bag.brand %>
              </div>
              <%= link_to "edit", edit_bag_path(bag)%>
              <%= link_to "delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
                <h2 class="card-bag-pricing"><%= bag.price %>€/day</h2>
              </div>
            </div>
            </div>
      <% end %>
       </div>
      </div>
</div>

<div class="container">
  <div class="col">
    <h1>Your bookings</h1>
  </div>
</div>


<div class="container">
  <div class="col col-lg-4">
    <% @bookings.each do |booking| %>
      <%= booking.bag.brand %>
      <%=link_to "delete", bag_booking_path(bag_id: booking.bag.id, id: booking.id), method: :delete, data: { confirm: "Are you sure?" } %>
    <%end %>
  </div>
</div>
