<div class="container">
  <div class="col">
    <h1>Your bags</h1>
  </div>
</div>


<div class="container">
    <div class="row">
      <% @bags.each do |bag| %>
        <div class="col col-lg-4">
          <div class="card-bag">
            <%= image_tag bag.images[0], height: 500, width: 700, alt:"bag-photo" %>
            <div class="card-bag-infos">
              <div>
                <%= link_to bag.title.upcase.first(20), bag_path(bag[:id]) %>
                  <% if bag.availability %>
                  <i class="fas fa-circle" style="color:green"></i>
                  <% else %>
                  <i class="fas fa-circle" style="color:red"></i>
                  <% end %>
                <br>
                <%= bag.brand %>
              </div>
              <div>
              <%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_bag_path(bag)%>
              <%=link_to "<i class='fa fa-trash' aria-hidden='true'></i>".html_safe, bag_path(bag), method: :delete, data: { confirm: "Are you sure?" } %>
                <h2 class="card-bag-pricing"><%= bag.price %>€/day</h2>
              </div>
              </div>
            </div>
            </div>
      <% end %>
    </div>
</div>

<div class="container">
  <div class="col">
    <h1>Your bookings</h1>
  </div>

</div>


<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
    <div class="col col-lg-4">
      <div>
        <%= cl_image_tag booking.bag.images[0].key, class:" card-user" %></div>

            <div class="card-bag2">
              <%= booking.start_date.strftime("%d %b. %Y") %> -- <%= booking.end_date.strftime("%d %b. %Y") %>
              <br>
              <%=link_to "<i class='fa fa-trash' aria-hidden='true'></i>".html_safe, bag_booking_path(bag_id: booking.bag.id, id: booking.id), method: :delete, data: { confirm: "Are you sure?" } %>

            </div>

      </div>
    <% end %>
  </div>
</div>
