<div class="container">
  <div class="form-wrapper">
    <h2>Book <%=@bag.user.first_name%>'s bag</h2>
    <%= simple_form_for [@bag, @booking] do |f| %>
      <%= f.input :start_date, label: "Pick your dates:", as: :string, required: false, input_html: { id: "range_start", class: "d-none"} %>
      <%= f.input :end_date, label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none" } %>
      <%= f.button :submit, "Book", {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "btn-other btn-ghost2"} %>
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Your booking is confirmed!</h4>
              </div>
              <div class="modal-body">
                <p>The owner will contact you shortly</p>
              </div>
              <div class="modal-footer">
                <%= link_to "Homepage", root_path, class: "btn-other btn-ghost2", :style => "text-align: center;" %>
              </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div
  id="booking-form-div"
  data-bookings="<%= @bookings_dates.to_json %>"
>
