<div class="navbar navbar-expand-sm navbar-light navbar-rent-my-bag">

  <a class="navbar-brand" href="/">

    <h1><%= cl_image_tag("https://res.cloudinary.com/chiaramtr/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:151313,c_fill,g_auto,r_max,w_1000/v1605542217/BB50F0B0WD001-01-01_q4cjgn.jpg", height: 50, width: 70) %>
    Rent My Bag</h1>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse first-header" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active sign_in">
        <% if user_signed_in? %>
        <a class="nav-link"><%= link_to "Add your bag", new_bag_path(@bag) %></a>
        <% end %>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#"><%= render "shared/login_items" %></a>
      </li>

      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://source.unsplash.com/1600x900/?headshot" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><%= link_to "My bags"%> </a>
          <a class="dropdown-item"><%= link_to "My bookings"%></a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="second-header">
    <ul class="menubar" role="menubar list-item inline">
      <li class="menu-item" role="none">
        <href class="">
          <a role="menuitem"
          href="/bags">
            All bags
          </a>
        </href>
      </li>
      <li class="menu-item" role="none">
        <href class="">
          <a role="menuitem"
          href="#">
          </a>
        </href>
            <div class="dropdown">
              <button class="btn menu-item dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item brand-list"><%= link_to "Chanel", bags_path(:brand=>"Chanel")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Fendi", bags_path(:brand=>"Fendi")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Burberry", bags_path(:brand=>"Burberry")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Chloé", bags_path(:brand=>"Chloé")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Lanvin", bags_path(:brand=>"Lanvin")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Givenchy", bags_path(:brand=>"Givenchy")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Dior", bags_path(:brand=>"Dior")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Louis Vuitton", bags_path(:brand=>"Louis Vuitton")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Hermès", bags_path(:brand=>"Hermès")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Yves Saint Laurent", bags_path(:brand=>"Yves Saint Laurent")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Prada", bags_path(:brand=>"Prada")%></a>
              </div>
            </div>
      </li>
      <li class="menu-item" role="none">
        <href class="">
          <a role="menuitem"
          href="#">
          </a>
            </href>
            <div class="dropdown">
              <button class="btn menu-item dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mood
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item brand-list"><%= link_to "Evening chic", bags_path(:mood=>"Evening chic")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Business Meeting", bags_path(:mood=>"Business Meeting")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Day in the countryside", bags_path(:mood=>"Day in the countryside")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Party", bags_path(:mood=>"Party")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Casual", bags_path(:mood=>"Casual")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Romantic date", bags_path(:mood=>"Romantic date")%></a>
              </div>
            </div>
      </li>
      <li class="menu-item" role="none">
        <href class="">
          <a role="menuitem"
          href="#">
          </a>
            </href>
            <div class="dropdown">
              <button class="btn menu-item dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Style
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item brand-list"><%= link_to "Handbag", bags_path(:style=>"Handbag")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Shoulder bag", bags_path(:style=>"Shoulder bag")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Clutch", bags_path(:style=>"Clutch")%></a>
                <a class="dropdown-item brand-list"><%= link_to "Backpack", bags_path(:style=>"Backpack")%></a>
              </div>
            </div>
      </li>
      <li class="menu-item" role="none">
        <href class="">
           <a role="menuitem"
          href="#">
            Around me
          </a>
        </href>
      </li>
      <li class="menu-item" role="none">
        <href class="">
           <a role="menuitem"
          href="#">
            Under 24h
          </a>
        </href>
      </li>
    </ul>
</div>
