<p>This is where the form to add a bag will be</p>

<%= simple_form_for [@user, @bag] do |f| %>
  <%= f.input :title %>
  <%= f.input :brand %>
  <%= f.input :style %>
  <%= f.input :mood %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :color %>
  <%= f.input :availability %>
  <%= f.submit "Add bag", class: "btn" %>
<% end %>


