
<div><br></div>

<div class="flexbox">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:700px" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
     <% @bag.images.each_with_index do |image, index| %>
        <div class="carousel-item <%= "active" if index == 0%>">
          <%= image_tag image, height: 500, width: 700 %>
        </div>
      <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <!-- <div class="image-box"> <%#= image_tag "fendi.jpeg", class: "card-img-top" %></div> -->
  <div class="card card-box" style="width: 40%;">
    <div class="card-body">
      <h5 class="card-title"> <%= @bag.title %> </h5>
      <h6 class="card-title"> Price per day <%= @bag.price %> </h6>
      <p class="card-title"> Color : <%= @bag.color.capitalize %> </p>
         <p class="card-text"> Mood :
                <% @bag.mood.each do |mood| %>
                <%= mood %> |
                <% end %></p>
        <p>Style :
                <% @bag.style.each do |style| %>
                <%= style %> |
                <% end %></p>

      <%= link_to "Book now", new_bag_booking_path(@bag), class: "btn-other btn-ghost2" %>
      <a href="#" class="btn-other btn-ghost2">Ask seller</a>
      <i class="far fa-heart like"> </i>
    </div>
  </div>
</div>

<div><br></div>
<div><br></div>
<div><br></div>

<div class="flexbox1 group">
  <div class="image-box"> <%= @user.first_name %>
    <%= image_tag "https://source.unsplash.com/collection/162326/400x400", class: "image-box-user avatar-square" %></div>
  <div class="card " style="width: 50rem;">
    <div class="card-body ">
      <h5 class="card-title ">Description : </h5>
      <h6 class="card-title border-bottom"><%= @bag.description %> </h6>
      <h6 class="card-title">  </h6>
      <div><br></div>
      <p><strong><em></em></strong></p>
      <ul>
        <li>Since : <%= @bag.created_at.strftime("%d %b. %Y") %> </li>
        <li>Universe : Femme</li>
        <li>Brand : <%= @bag.brand %> </li>
        <li>Condition : Like new</li>
        <li>Material : leather </li>
        <li>Color : <%= @bag.color.capitalize %> </li>
        <li>Location : <%= @user.address %> </li>
        <li>Dimension : 36,5 cm x 28 cm x 17,5 cm</li>
      </ul>
      <p class="card-title">  </p>
      <a href="#">A question or a comment ? Add a review</a>
      <p class="card-text">  </p>
      <p class="card-text"> </p>
    </div>
  </div>

  <div>
    <ul class="list-group">
      <li class="list-group-item d-flex text"><div>Quality Control</div><div>+</div></li>
      <li class="list-group-item d-flex text"><div>Paiement</div><div>+</div></li>
      <li class="list-group-item d-flex text"><div>Shipping</div><div>+</div></li>
      <li class="list-group-item d-flex text"><div>Retuns</div><div>+</div></li>
      <li class="list-group-item d-flex text"><div>Help</div><div>+</div></li>
    </ul>
  </div>

</div>
