<p>This is a bag page</p>

<div class="text-center">
  <h1>  <%= @bag.brand %> </h1>
  <h6> <%= @bag.title %> </h6>
</div>

<div><br></div>

<div class="flexbox">
  <div class="image-box"> <%= cl_image_tag @bag.photo.key %></div>
  <!-- <div class="image-box"> <%#= image_tag "fendi.jpeg", class: "card-img-top" %></div> -->
  <div class="card card-box" style="width: 40%;">
    <div class="card-body">
      <h5 class="card-title"> <%= @bag.title %> </h5>
      <h6 class="card-title"> Price per day <%= @bag.price %> </h6>
      <div><br></div>
      <p><strong><em>More Infos</em></strong></p>
      <p class="card-title"> Color : <%= @bag.color.capitalize %> </p>
      <p class="card-text">Mood : <%= @bag.mood %> </p>
      <%= link_to "Book now", new_bag_booking_path(@bag), class: "btn btn-ghost2" %>
      <a href="#" class="btn btn-ghost2">Ask seller</a>
      <i class="far fa-heart like"> </i>
    </div>
  </div>
</div>

<div><br></div>

<div class="flexbox group">
  <div class="image-box"> <%= image_tag "https://source.unsplash.com/collection/162326/400x400", class: "image-box-user" %></div>
  <div class="card " style="width: 50rem;">
    <div class="card-body ">
      <h5 class="card-title ">Description : <%= @bag.description %> </h5>
      <h5 class="card-title border-bottom"><%= @bag.description %> </h5>
      <h6 class="card-title">  </h6>
      <div><br></div>
      <p><strong><em></em></strong></p>
      <ul>
        <li>Since : <%= @bag.created_at.strftime("%d %b. %Y") %> </li>
        <li>Universe : Femme</li>
        <li>Style : <%= @bag.style.capitalize %> </li>
        <li>Under category : </li>
        <li>Brand : <%= @bag.brand.capitalize %> </li>
        <li>Model : </li>
        <li>Condition : Like new</li>
        <li>Material : leather </li>
        <li>Color : <%= @bag.color.capitalize %> </li>
        <li>Location : <%= @user.address %> </li>
        <li>Dimension :</li>
      </ul>
      <p class="card-title">  </p>
      <a href="#">A question or a comment ? Add a review</a>
      <p class="card-text">  </p>
      <p class="card-text"> </p>
    </div>
  </div>

  <div>
    <ul class="list-group">
      <li class="list-group-item d-flex text"><div>Quality Control</div><div>+</div></li>
      <li class="list-group-item d-flex text"><div>Paiement</div><div>+</div></li>
      <li class="list-group-item d-flex text"><div>Shipping</div><div>+</div></li>
      <li class="list-group-item d-flex text"><div>Retuns</div><div>+</div></li>
      <li class="list-group-item d-flex text"><div>Help</div><div>+</div></li>
    </ul>
  </div>

</div>

